@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* color */
    --color-primary: #eae8e8;
    --color-secondary: #366251;
    --color-accent: #ffca82;
    --color-light: #ffffff;
    --color-dark: #111827;
    --color-graybg: #eae8e8;
    --color-graycard: #dedcdc;
}
